<head>
    <link rel="stylesheet" href="/MemberLayout.css" />
    <link rel="stylesheet" href="~/css/member-dashboard.css" />

</head>

<body>
    <div class="member-container">
        @RenderBody()
    </div>
</body>
