@using NuGet.Versioning
@model IEnumerable<CrudDemo.Models.Course>

<div class="container mt-4 menu-dashboard">
    <h1>Mes Cours</h1>
  
  

    @if (!Model.Any())
    {
        <div class="alert alert-info">
            <p>Aucun cours disponible pour le moment.</p>
        </div>
    }
    else
    {


        <div class="row">
            @{ var module = 0; }
            @foreach (var course in Model)
            {
                ++module;
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <div class="card-footer bg-white border-top">

                            @{
                                var module1 = module;
                            }
                            <a class="btn btn-primary btn-sm w-100"
                                asp-controller="Courses"
                                asp-action="Details"
                                asp-route-id="@course.Id">
                                <i class="fas fa-eye"></i> Modules @module1 @course.Title 
                                
                            </a>
                            
                            @foreach (var m in course.Modules)
                            {
                                <div>
                                    <a
                                        asp-controller="Courses"
                                        asp-action="Lesson"
                                        asp-route-id="@m.Id">
                                        <i class="fas fa-eye"></i> @m.Title 
                                        
                                    </a>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
