/* ------------------------------------------------------
   GLOBAL
------------------------------------------------------ */
body {
    background: #f7f8fa;
    font-family: "Inter", sans-serif;
    color: #333;
    margin: 0px;
}


.container.mt-4 {
    margin-right: 10%;
}

.member-container {
    display: flex;
    flex-wrap: wrap-reverse;
}

.menu-dashboard {
    background-color: #434c5e;
    color: white;
    padding: 4%;
}
.menu-dashboard a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}